/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
img {
    max-width: 100%;
}

.flex,
.video-grid-row {
    display: -webkit-flex;
    display: flex;
}

.video-grid-item {
    max-width: 250px;
    margin: 1em;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.video-grid-item:hover {
  background-color: #ffffff;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;

}

.latest-videos .video-grid-item:hover {
  background-color: #716e6e;
}

.video-grid-item h1,
.video-grid-item img {
    cursor: pointer;
}

.video-grid-item h1 {
    font-size: .9em;
}

#switch {
  font-weight: bolder;
  font-size: 2em;
  padding: 28px 40px;
  background: #208035;
  color: #fff;
  position: fixed;
  right: 0;
  top: 45%;
  cursor: pointer;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#switch:hover {
  background: #2db54b;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.latest-videos {
  padding: .5em;
  background-color: #4d4d4d;
  color: #fff;
}

body {
  background: #f2f2f2;
}

.theater {
  height: 650px;
  /*display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;*/
}

.explore-header {
  padding: 2em;
  height: 300px;
}

#search-text {
  width: 90%;
  font-size: 2em;
}

#search-button {
  font-size: 2em;
}

main {
  padding: 2em;
}




/* ==========================================================================
   Collection View specific styles
   ========================================================================== */

.categories,
.category-contents {
    padding: .5em;
}

#category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#category-list li {
  background-color: #c13926;
  margin: 5px 0;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  color: #ebebeb;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

#category-list li:hover {
  background-color: #df3e27;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}









/* ==========================================================================
   Explore View secific styles
   ========================================================================== */
.latest-videos {
    padding: .5em;
    overflow: auto;
}

.latest-videos h1 {
  margin: 1.3em .5em 1em;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
